.form {
  margin: 20px 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
}
.inputGroup {
  width: 70%;
  margin-right: 10px;
}
.input {
  border: 1px solid #ababab;
  width: 100%;
  height: auto;
  padding: 15px;
  color: #2d2d2d;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 5px;
}
.input::placeholder {
  font-size: 20px;
  color: #ababab;
}
.errorMsg {
  font-size: 0.9rem;
  font-weight: 600;
  align-self: flex-start; 
  margin: 5px 0px 5px 5px; 
}
.btn {
  width: 30%;
  height: auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 20px;
  border: 1px solid #ea7b2c;
  border-radius: 5px;
  background-color: #ea7b2c;
  cursor: pointer;
  text-transform: capitalize;
}

@media (max-width: 1165px) {
  .inputGroup {
    width: 65%;
    margin-right: 5px;
  }
  .input {
    width: 100%;
    font-size: 18px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .btn {
    width: 35%;
    height: auto;
    font-size: 1rem;
    padding: 15px;
  }
}
@media (max-width: 900px) {
  .form {
    padding: 10px;
  }
}
@media (max-width: 557px) {
  .form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inputGroup {
    width: 100%;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .btn {
    width: auto;
    height: auto;
    font-size: 1.1rem;
    padding: 15px 20px;
  }
  .errorMsg {
    font-size: 0.9rem;
    font-weight: 600;
    align-self: flex-start; 
    margin: 5px 0px 5px 5px; 
  }
}
